
/* add responsive */
/* phone */
@medai (max-width: 640px) {
.container {
        display: grid;
        gap: 10px;

        grid-template-rows: repeat(8, 300px);
        grid-template-columns: repeat(1, 300px);




    }
}